@import "variables";

svg {
  fill: $fg-primary;
  width: 24px;
}

.guesses div {
  transition-delay: 1s;
}

.guesses .preventChange div {
  transition-duration: 0.15s;
  transition-delay: 0s;
  background: $key-bg !important;
}

.big {
  font-size: $fs-tiny;
  flex-grow: 1.5;
}

.⬛ {
  background: $color-absent;
}

.🟨 {
  background: $color-present;
}

.🟩 {
  background: $color-correct;
}
