@import "variables";


.dark {
  $fg-primary: #d7dadc;
  $fg-secondary: #818384;
  $icon-color: #565758;
  $border-primary: #3a3a3c;
  $border-secondary: #272729;
  $bg-secondary: #1a1a1b;
  $mode-symbol-color: $bg-secondary;
  $bg-primary: #121213;

  $red: #9C2323;
  $color-present: #b59f3b;
  $color-correct: #538d4e;
  $color-absent: $border-primary;
  $evaluated-key-color: $fg-primary;
  $key-bg: $fg-secondary;
}

.colorblind {
  $color-correct: #f5793a;
  $color-present: #85c0f9;
}
