$fs-tiny: 12px;
$fs-small: 14px;
$fs-regular: 16px;
$fs-medium: 20px;
$fs-large: 36px;
$game-width: 500px;

$arrow-size: 10px;
$padding: 10px;

$white: #ffffff;

$fg-primary: #1a1a1b;
$fg-secondary: #787c7e;
$icon-color: $fg-secondary;
$border-primary: #d3d6da;
$border-secondary: $border-primary;
$bg-secondary: #e0e0e0;
$mode-symbol-color: #f1f1f1;
$bg-primary: $white;

$red: #C42C2C;
$color-present: #c9b458;
$color-correct: #6aaa64;
$color-absent: $fg-secondary;
$evaluated-key-color: $bg-primary;
$key-bg: $border-primary;

$height: 100%;
